/** link styles */

html, body, #canvas {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Arial", sans-serif;
}

.links {
  position: absolute;
  top: 60px;
  right: 24px;
}

.link {
  color: var(--token-simulation-grey-darken-30, #212121);
  display: inline-block;
  padding: 6px;
  font-size: 16px;
  border-radius: 2px;
  background-color: var(--token-simulation-silver-darken-94, #c1dfec);
  text-decoration: none;
}

.link:hover {
  color: var(--token-simulation-white, #FFFFFF);
  background-color: var(--token-simulation-green-base-44, #0e8d9e);
}

.links .link + .link {
  margin-left: 20px;
}

/** file-drops */

.drop-message {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--token-simulation-silver-darken-94, #c1dfec);
  border-radius: 2px;
  padding: 6px 12px;
  font-size: 13px;
  color: var(--token-simulation-grey-darken-30, #212121);
  user-select: none;
}

.drop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  padding: 50px;

  background: rgba(255, 255, 255, .9);

  z-index: 1000;
}

.drop-overlay .box {
  text-align: center;
  border: dashed 4px #CCC;
  height: 100%;
  width: 100%;
  display: table;
}

.drop-overlay .label {
  font-size: 26px;
  color: #888;
  margin: auto;

  display: table-cell;
  vertical-align: middle;
}

.carousel-inner > .item > img, 
.carousel-inner > .item > a > img{
width: 80%; 
margin: auto;
}

div.c-wrapper{
  width: 80%;
  margin: auto;
}

.carousel .carousel-indicators .customIndicator {background-color: gray;}

